.named-fence-block {
  position: relative;
}

.named-fence-filename {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 8px;
  font-weight: bold;
  text-align: center;
  color: "hsl(221, 87%, 60%)";
  background: #dce0e5;
  opacity: 0.8;
}
mark {
  background-color: #fff300;
  border-radius: 5px;
  font-weight: 600;
  color: hsl(230, 8%, 24%);
  padding: 1px 4px;
}

& {
  overflow-y: scroll;
  overflow-x: unset;
  border-bottom: 1px solid #e3e3e3;
  padding: 5px 10px;
}

& p {
  margin-bottom: 8px;
}

& ul {
  margin-bottom: 16px;
  padding-top: 4px;
  p {
    margin-top: 4px;
  }
  li {
    margin-bottom: 8px;
  }
  li > ul li {
    margin-top: 0;
    margin-bottom: 4px;
  }
  li > ul li:last-of-type {
    margin-bottom: 0;
  }
}

& h1,
& h2,
& h3,
& h4 {
  border-bottom: 0;
  font-family: "Helvetica",
    '-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"';
  padding-bottom: 0;
  margin-top: 24px;
  margin-bottom: 12px;
}
code {
  font-family: '-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"';
  background-color: #f9e0df;
  color: #8f0e00;
  font-size: 16px;
  padding: 1px 4px;
}

& pre {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  overflow-y: unset;
  overflow-x: auto;
  background-color: #f6f8fa;
  code {
    font-family: "monospace, Mono, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,Mono, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji";
    font-size: 16px;
    color: #24292f;
  }
  code.language-properties span {
    color: #24292f;
  }
}
& hr {
  height: 2px;
}
&& > *:first-child > *:first-child {
  margin-top: 0;
}
